.register-form input:not([type=checkbox]) {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 10px;
    height: 40px;
    border-radius: 5px;
    border-color: 1px solid rosybrown;
}

.register-form {
    margin: 0 auto;
    width: 50%;
}